services:
  pg-whereis:
    image: postgres
    container_name: pg-whereis
    ports:
      - 5432:5432
    restart: always
    volumes:
      - pg-whereis-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: whereis
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: _CHANGEME_
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      start_period: 20s
      start_interval: 2s
      interval: 5s
      timeout: 1s
      retries: 3
    networks:
      - whereis_net
  whereis-api-v0:
    image: local/whereis-api-v0
    container_name: whereis-api-v0
    ports:
      - 8037:8037
    depends_on:
      pg-whereis:
        condition: service_healthy
    restart: always
    env_file:
      - ./source-api-keys.env
    environment:
      APP_ENV: dev            # dev | qa | prod
      DB_HOST: pg-whereis
      DB_USER: whereis_user
      DB_PASSWORD: _CHANGEME_
      TESTING_URL: http://localhost:8037
      TESTING_TOKEN: eagle1
    networks:
      - whereis_net
networks:
  whereis_net:
    name: whereis_net
volumes:
  pg-whereis-data:
    name: pg-whereis-data
