services:
  whereis-api-v0:
    image: local/whereis-api-v0
    container_name: whereis-api-v0
    ports:
      - 8037:8037
    restart: always
    volumes:
      - whereis-sqlite-data:/data
    env_file:
      - ./source-api-keys.env
    environment:
      APP_ENV: dev            # dev | qa | prod
      DB_TYPE: sqlite
      WHEREIS_API_URL: http://localhost:8037
      WHEREIS_API_KEY: eagle1
      # GRAFANA_USER: _CHANGEME_
      # GRAFANA_URL: https://grafana.example.com/
      # GRAFANA_API_KEY: _CHANGEME_
    networks:
      - whereis_net

networks:
  whereis_net:
    name: whereis_net

volumes:
  whereis-sqlite-data:
    name: whereis-sqlite-data